.glass-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            width: 220%;
            max-width: 360px;
            height: 200px;
            background: linear-gradient(
              135deg,
              rgba(255, 255, 255, 0.2),
              rgba(255, 255, 255, 0.05)
            );
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            overflow-x: hidden;
            overflow-y: hidden;
          }