.container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-top: 130%;
            padding-right: 15%;
            padding-left: 17%;
            background-color: #2c52b3;
          }

          .container{
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-top: 58%;                    
        }